<section id="home" class="header_area">
    <div id="header_navbar1" class="header_navbar sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/main#home">
                            <img id="logo" src="assets/images/logo-2.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active" href="/main#home">首頁</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#features">為何選擇我們</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#about">教學特色</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#services">課程類型</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#team">師資團隊</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#testimonial">創辦人</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#recomm">家長推薦</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#demo">示範影帶</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#contact">連絡我們</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="page-scroll" href="/main-en">English</a>
                                </li> -->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header_hero" style="margin-top:200px">
  
     


        
                    <div  class="mainContent">
                        <div class="card-container">
                            <!-- <span class="pro">PRO</span> -->
                            <img class="round" src="assets/images/tam.jpg" alt="user"
                                style="max-width: 20% !important;" />
                            <h3 style="color:white">Tamzyn Hollis</h3>
                            <p>Teacher Tam <br /> </p>
                            <!-- <div class="buttons">
                                        <button class="primary">
                                            Message
                                        </button>
                                        <button class="primary ghost">
                                            Following
                                        </button>
                                    </div> -->
                            <div class="skills">
                                <h6>About Me</h6>
                                <ul>
                                    <p style="color: black">大家好我是Teacher Tam</p>
                                    <!-- <li>UI / UX</li>
                                            <li>Front End Development</li>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                            <li>React</li>
                                            <li>Node</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="videobox">
                            <iframe src="https://drive.google.com/file/d/1CJKbZYCkz_3GKEdT4cIbO89dONe5WFmV/preview"
                                allow="autoplay"></iframe>

                        </div>
                    </div>


      
       
    </div>






</section>