<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="home" class="header_area">
    <div id="header_navbar" class="header_navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img id="logo" src="assets/images/logo.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active" href="/main#home">首頁</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#features">為何選擇我們</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#about">教學特色</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#services">課程類型</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#team">師資團隊</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#testimonial">創辦人</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#recomm">家長推薦</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#demo">示範影帶</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main#contact">連絡我們</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/en/main">English</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header_hero">
        <div class="single_hero bg_cover d-flex align-items-center"
            style="background-image: url(assets/images/hero.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="hero_content text-center">
                            <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                台中實體&全球線上<br /> 專業外師課程</h2>
                            <!-- <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">A super simple website template
                  based on Angular 12 Bootstrap 5 and HTML5, comes with all essential <br />elements & features to get
                  started and ready to use for almost any type of business websites.</p> -->
                            <a href='/main#features' class="main-btn wow fadeInUp" data-wow-duration="1.3s"
                                data-wow-delay="0.8s">瞭解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">為何選擇我們</h4>
                    <!-- <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <!-- <i class="lni lni-layers"></i> -->
                    <img src="../../../assets/images/teacher.png" style=" height: 70px; width: 70px;" alt="英文外師">
                    <h4 class="features_title">專業師資</h4>
                    <p>教學團隊中有所有的老師都是豐富經驗的外師，不只是會教學更懂得更小朋友相處
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <!-- <i class="lni lni-layout"></i> -->
                    <img src="../../../assets/images/textbook.png" style=" height: 70px; width: 70px;" alt="豐富教材">
                    <h4 class="features_title">教材豐富</h4>
                    <p>國外嚴選教材 DK系列教材/牛津系列 + 經驗外師自備教材
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.6s">
                    <!-- <i class="lni lni-bolt"></i> -->
                    <img src="../../../assets/images/students.png" style=" height: 70px; width: 70px;" alt="小班制教學">
                    <h4 class="features_title">小班制</h4>
                    <p>不論是台中實體教室或者全球線上的課程都是小班制教學，有同儕外師可以兼顧所有學生
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="pt-130">
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_content pt-120 pb-130">
                        <div class="section_title pb">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">教學特色</h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">打破傳統補習班填鴨式教學</p>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
                                針對不同程度會有搭配適合的教材，課程中老師也會搭配很多遊戲、活動等，讓小朋友可以提升興趣</p>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">小班制教學讓每位小朋友都有機會開口說英文
                            </p>
                        </div>
                        <!-- <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
            style="background-image: url(assets/images/about.png)">
            <div class="image_content" style="width: 20%; height:20% ;">
                <!-- <h4 class="experience"><span></span>   <img src="assets/images/Logo_White.png" style="height: 120px; width: auto;" alt="突破英文"></h4> -->
                <img src="assets/images/Logo_White.png" style="height: 120px; width: auto;" alt="突破英文">
            </div>
        </div>
    </div>
</section>


<section id="services" class="features_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">課程類型</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">實體教室&線上課程，對象包含成人、幼兒、國高中生</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <!-- <i class="lni lni-briefcase"></i> -->
                    <img src="../../../assets/images/worldwide.png" style=" height: 70px; width: 70px;" alt="全方面課程">
                    <h4 class="features_title">全方面常規課程</h4>
                    <p>全方面英文語文課程系列，以及自然發音課程，包含聽、說、讀、寫，全方面英文訓練，建立良好的英文基礎
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.3s">
                    <!-- <i class="lni lni-clipboard"></i> -->
                    <img src="../../../assets/images/book-stack.png" style=" height: 70px; width: 70px;" alt="主題式英文課程">
                    <h4 class="features_title">主題式英文課程</h4>
                    <p>以不同主題學習英文，包含科學、歷史、地理、人文..等等
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <!-- <i class="lni lni-target-revenue"></i> -->
                    <img src="../../../assets/images/test.png" style=" height: 70px; width: 70px;" alt="英檢班課程">
                    <h4 class="features_title">英檢班課程</h4>
                    <p>針對各式英檢課程，包含PET、GET、TOEIC、TOEFL、IELTS等
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <!-- <i class="lni lni-invention"></i> -->
                    <img src="../../../assets/images/division.png" style=" height: 70px; width: 70px;" alt="成人對話課程">
                    <h4 class="features_title">成人對話課程</h4>
                    <p>以各式各樣不同主題切入，以一般生活情境為主的成人對話課程
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.3s">
                    <!-- <i class="lni lni-bar-chart"></i> -->
                    <img src="../../../assets/images/analysis.png" style=" height: 70px; width: 70px;" alt="商業英文課程">
                    <h4 class="features_title">商業英文課程</h4>
                    <p>以商業內容/主題為主的，成人商業英文課程
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <!-- <i class="lni lni-calendar"></i> -->
                    <img src="../../../assets/images/teaching.png" style=" height: 70px; width: 70px;" alt="一對一/包班課程">
                    <h4 class="features_title">一對一/包班課程</h4>
                    <p>另有一對一外師課程以及包班一對多的英語客制化課程
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="portfolio" class="portfolio_area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-60">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Portfolio</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_wrapper d-flex flex-wrap">
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <img src="assets/images/portfolio-1.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Logo And Branding</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img src="assets/images/portfolio-2.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Bootstrap 5 Project</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
        <img src="assets/images/portfolio-3.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Creative Projects</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
        <img src="assets/images/portfolio-4.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">UI/UX Projects</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <img src="assets/images/portfolio-5.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">App Development</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img src="assets/images/portfolio-6.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Web Development</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
        <img src="assets/images/portfolio-7.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Business Card Design</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
        <img src="assets/images/portfolio-8.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Consulting Business</h5>
        </div>
      </div>
    </div>
  </section> -->


<!-- <section id="pricing" class="pricing_area pt-120 pb-130">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-25">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">費用</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <h4 class="pricing_title">Startup</h4>
            <span class="price">$240</span>
            <ul class="pricing_list">
              <li>Startup Business</li>
              <li>Business Consulting</li>
              <li>Business Analysis</li>
              <li>Corporate Business</li>
              <li>Business Investment</li>
            </ul>
            <a href="#" class="mian-btn">Order Now</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_pricing text-center mt-30 active wow fadeInUp" data-wow-duration="1.3s"
            data-wow-delay="0.3s">
            <h4 class="pricing_title">Agency</h4>
            <span class="price">$340</span>
            <ul class="pricing_list">
              <li>Startup Business</li>
              <li>Business Consulting</li>
              <li>Business Analysis</li>
              <li>Corporate Business</li>
              <li>Business Investment</li>
            </ul>
            <a href="#" class="mian-btn">Order Now</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <h4 class="pricing_title">Enterprise</h4>
            <span class="price">$440</span>
            <ul class="pricing_list">
              <li>Startup Business</li>
              <li>Business Consulting</li>
              <li>Business Analysis</li>
              <li>Corporate Business</li>
              <li>Business Investment</li>
            </ul>
            <a href="#" class="mian-btn">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->

<section id="team" class="team_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">師資團隊</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">豐富教學經驗，最強師資團隊都在FireFoot
                        English Academy突破英文</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center team_active">
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <img src="assets/images/tam.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Tamzyn Hollis</a></h4>
                        <p>Teacher Tam</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                    <img src="assets/images/kay.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Kaylyn Truter</a></h4>
                        <p>Teacher Kay</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/steph.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Stephanie Smith</a></h4>
                        <p>Teacher Steph</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/sarah.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Sarah Weetman</a></h4>
                        <p>Teacher Sarah</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/shile.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Sihle Dlamini</a></h4>
                        <p>Teacher Sihle</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/mpho.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Mpho Williams</a></h4>
                        <p>Teacher Po</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/tarah.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Tarah Jullius</a></h4>
                        <p>Teacher Tarah</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover"
    style="background-image: url(assets/images/testimonial.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="glide testimonial_active">
                    <div class="glide__track" data-glide-el="track">
                        <div class="glide__slides">
                            <div class="glide__slide single_testimonial text-center">
                                <img src="assets/images/lynn.jpg" alt="創始人" style=" height: 120px; width: 120px;">
                                <h5 class="author_name">Lynn Chen</h5>
                                <span>創始人</span>
                                <p>畢業於台灣國立中央大學網路學習科技研究所，主要研究遊戲式學習，透過不同種的學習方式，幫助學生達到最有效的學習成果 </p>

                            </div>
                            <div class="glide__slide single_testimonial text-center">
                                <img src="assets/images/tamzyn.jpg" alt="創始人" style=" height: 120px; width: 120px;">
                                <h5 class="author_name">Tamzyn Hollis</h5>
                                <span>創始人</span>
                                <p>已有多年教學經驗的Teacher Tam，致力於打造屬於自己的學校，把最好、最有效的學習方式教授給團隊中的老師以及我們的學生
                                </p>
                            </div>
                            <!-- <div class="glide__slide single_testimonial text-center">
                  <img src="assets/images/author-3.jpg" alt="author">
                  <h5 class="author_name">Elon Musk</h5>
                  <span>Creaitve Businessman</span>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                  </p>
                </div> -->
                        </div>
                    </div>
                    <div class="glide__bullets" data-glide-el="controls[nav]">
                        <button class="glide__bullet" data-glide-dir="=0"></button>
                        <button class="glide__bullet" data-glide-dir="=1"></button>
                        <!-- <button class="glide__bullet" data-glide-dir="=2"></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="recomm" class="blog_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">家長真實推薦</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">實體課程教室家長真心推薦FireFoot English
                        Academy突破英文</p>
                </div>
            </div>
        </div>
        <iframe src="https://drive.google.com/file/d/1AaPm12QO0jJ6S31ewC9l8xzUc0CN9_21/preview" width="1280"
            height="720" allow="autoplay"></iframe>


        <!-- <div class="row">
        <div class="col-lg-6">
          <div class="single_blog mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <div class="blog_image">
              <img src="assets/images/blog-1.jpg" alt="blog">
            </div>
            <div class="blog_content">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor .</a></h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
                dolore.Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
                dolore magna .Lorem ipsum dolor sit amet, consetetur sadipscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <div class="blog_image">
              <img src="assets/images/blog-2.jpg" alt="blog">
            </div>
            <div class="blog_content media-body">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
              <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
              <a href="#" class="more">Read More</a>
            </div>
          </div>
          <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <div class="blog_image">
              <img src="assets/images/blog-3.jpg" alt="blog">
            </div>
            <div class="blog_content media-body">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
              <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
              <a href="#" class="more">Read More</a>
            </div>
          </div>
          <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <div class="blog_image">
              <img src="assets/images/blog-4.jpg" alt="blog">
            </div>
            <div class="blog_content media-body">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
              <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
              <a href="#" class="more">Read More</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
</section>

<!-- <section id="demo" class="contact_area bg_cover pt-120 pb-130"
  style="background-image: url(assets/images/contact_bg.jpg)"> -->
<section id="demo" class="blog_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">教學示範帶</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">線上課程教學示範影片</p>
                </div>
            </div>
        </div>
        <iframe src="https://drive.google.com/file/d/1CJKbZYCkz_3GKEdT4cIbO89dONe5WFmV/preview" width="1280"
            height="720" allow="autoplay"></iframe>



    </div>
</section>




<section id="contact" class="contact_area bg_cover pt-120 pb-130"
    style="background-image: url(assets/images/contact_bg.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title section_title_2 text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">聯絡我們</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                        留下您的聯絡資訊會有專人聯絡您或者是直接私訊臉書傳頁/Line官方帳號</p>
                </div>
            </div>
        </div>
        <form id="contact-form" action="assets/contact.php" method="post" class="wow fadeInUp" data-wow-duration="1.3s"
            data-wow-delay="0.4s">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="text" placeholder="姓名" name="name" id="name" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="email" placeholder="Email" name="email" id="email" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="text" placeholder="手機" name="number" id="number" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="text" placeholder="方便聯絡時間" name="subject" id="subject" required>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_form">
                        <textarea placeholder="留言" name="message" id="message" required></textarea>
                    </div>
                </div>
                <p class="form-message"></p>
                <div class="col-lg-12">
                    <div class="single_form text-center">
                        <button class="main-btn" type="submit">送出</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>



<footer id="footer" class="footer_area">
    <div class="container">
        <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
            <img id="logo" src="assets/images/logo.png" alt="Logo" style="width: 192px; height: 128px;">
            <div style="display: flex; flex-direction: column;">
                <p class="credit">地址：台中市西屯區至善路82巷8號</p>
                <p class="credit">電話：0934182469</p>
                <p class="credit">FireFoot English Academy 突破英文</p>
            </div>

            <div class="footer_social pt-15">
                <ul>
                    <li><a href="https://www.facebook.com/FireFootEnglish">
                            <img id="logo" src="assets/images/facebook.png" alt="facebook"
                                style="width:30px; height:30px"></a>
                    </li>
                    <li><a href="https://www.instagram.com/firefooteng/"><img id="instagram"
                                src="assets/images/instagram.png" alt="instagram" style="width:30px; height:30px"></a>
                    </li>
                    <li><a href="https://lin.ee/Yg6qu3W"><img id="line" src="assets/images/line.png"
                                alt="line" style="width:30px; height:30px"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<a href="/main#home" class="back-to-top"><i class="lni lni-chevron-up"></i></a>