<!-- <div class="preloader">
    <div class="loader">
      <div class="ytp-spinner">
        <div class="ytp-spinner-container">
          <div class="ytp-spinner-rotator">
            <div class="ytp-spinner-left">
              <div class="ytp-spinner-circle"></div>
            </div>
            <div class="ytp-spinner-right">
              <div class="ytp-spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<section id="home" class="header_area">
    <div id="header_navbar" class="header_navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/main-en#home">
                            <img id="logo" src="assets/images/logo.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active" href="/main-en#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#features">Why Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#about">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#services">Class</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#team">Teachers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#testimonial">Founder</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#recomm">Recommendation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#demo">Demo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main-en#contact">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="/main">中文</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header_hero">
        <div class="single_hero bg_cover d-flex align-items-center"
            style="background-image: url(assets/images/hero.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="hero_content text-center">
                            <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s"><br />
                                Professional Native Speaker English Class</h2>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Taichung In Person
                                Class & Global Online</p>
                            <a href='/main-en#features' class="main-btn wow fadeInUp" data-wow-duration="1.3s"
                                data-wow-delay="0.8s">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Why Choose Us</h4>
                    <!-- <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <!-- <i class="lni lni-layers"></i> -->
                    <img src="../../../assets/images/teacher.png" style=" height: 70px; width: 70px;" alt="英文外師">
                    <h4 class="features_title">Professional teachers</h4>
                    <p>All the teachers in our team are native speakers with rich teaching experience. They are not only
                        know how to teach, but also know how to get along with children.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <!-- <i class="lni lni-layout"></i> -->
                    <img src="../../../assets/images/textbook.png" style=" height: 70px; width: 70px;" alt="豐富教材">
                    <h4 class="features_title">Various teaching materials</h4>
                    <p>Selected textbooks from including DK series/Oxford series + textbooks prepared by experienced
                        foreign teachers
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.6s">
                    <!-- <i class="lni lni-bolt"></i> -->
                    <img src="../../../assets/images/students.png" style=" height: 70px; width: 70px;" alt="小班制教學">
                    <h4 class="features_title">Small group</h4>
                    <p>Whether it is a physical classroom in Taichung or a global online course, the amount of student
                        is small, and there are peer teachers who can take care of all students
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="pt-130">
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_content pt-120 pb-130">
                        <div class="section_title pb">
                            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Features</h4>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Break the traditional
                                cram school cramming teaching</p>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">There will be
                                suitable teaching materials for different levels, and teachers will also match many
                                games, activities, etc. in the course, so that children can improve their interest</p>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Small class teaching
                                allows every child to have the opportunity to speak English</p>
                        </div>
                        <!-- <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
            style="background-image: url(assets/images/about.png)">
            <div class="image_content" style="width: 20%; height:20% ;">
                <!-- <h4 class="experience"><span></span>   <img src="assets/images/Logo_White.png" style="height: 120px; width: auto;" alt="突破英文"></h4> -->
                <img src="assets/images/Logo_White.png" style="height: 120px; width: auto;" alt="突破英文">
            </div>
        </div>
    </div>
</section>


<section id="services" class="features_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Class</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Physical classrooms & online
                        courses, including adults, children, high school students</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <!-- <i class="lni lni-briefcase"></i> -->
                    <img src="../../../assets/images/worldwide.png" style=" height: 70px; width: 70px;" alt="全方面課程">
                    <h4 class="features_title">All aspects of regular courses</h4>
                    <p>All-round English language course series, as well as natural pronunciation courses, including
                        listening, speaking, reading and writing, all-round English training, to establish a good
                        English foundation
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.3s">
                    <!-- <i class="lni lni-clipboard"></i> -->
                    <img src="../../../assets/images/book-stack.png" style=" height: 70px; width: 70px;" alt="主題式英文課程">
                    <h4 class="features_title">Themed English courses</h4>
                    <p>Learn English in different subjects, including science, history, geography, humanities...etc
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <!-- <i class="lni lni-target-revenue"></i> -->
                    <img src="../../../assets/images/test.png" style=" height: 70px; width: 70px;" alt="英檢班課程">
                    <h4 class="features_title">English Exam class</h4>
                    <p>For various English Exam courses, including PET, GET, TOEIC, TOEFL, IELTS, etc.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <!-- <i class="lni lni-invention"></i> -->
                    <img src="../../../assets/images/division.png" style=" height: 70px; width: 70px;" alt="成人對話課程">
                    <h4 class="features_title">Adult Conversation Course</h4>
                    <p>An adult dialogue course based on a variety of different themes and based on general life
                        situations
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.3s">
                    <!-- <i class="lni lni-bar-chart"></i> -->
                    <img src="../../../assets/images/analysis.png" style=" height: 70px; width: 70px;" alt="商業英文課程">
                    <h4 class="features_title">Business English Course</h4>
                    <p>Business content/topic-focused, business English courses for adults
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <!-- <i class="lni lni-calendar"></i> -->
                    <img src="../../../assets/images/teaching.png" style=" height: 70px; width: 70px;" alt="一對一/包班課程">
                    <h4 class="features_title">One-to-one/package classes</h4>
                    <p>There are also one-to-one foreign teacher courses and one-to-many English customized courses
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="portfolio" class="portfolio_area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-60">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Portfolio</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_wrapper d-flex flex-wrap">
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <img src="assets/images/portfolio-1.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Logo And Branding</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img src="assets/images/portfolio-2.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Bootstrap 5 Project</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
        <img src="assets/images/portfolio-3.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Creative Projects</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
        <img src="assets/images/portfolio-4.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">UI/UX Projects</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <img src="assets/images/portfolio-5.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">App Development</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img src="assets/images/portfolio-6.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Web Development</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
        <img src="assets/images/portfolio-7.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Business Card Design</h5>
        </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
        <img src="assets/images/portfolio-8.jpg" alt="portfolio">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="#"><i class="lni lni-link"></i></a></li>
          </ul>
          <h5 class="portfolio_title">Consulting Business</h5>
        </div>
      </div>
    </div>
  </section> -->


<!-- <section id="pricing" class="pricing_area pt-120 pb-130">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-25">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">費用</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <h4 class="pricing_title">Startup</h4>
            <span class="price">$240</span>
            <ul class="pricing_list">
              <li>Startup Business</li>
              <li>Business Consulting</li>
              <li>Business Analysis</li>
              <li>Corporate Business</li>
              <li>Business Investment</li>
            </ul>
            <a href="#" class="mian-btn">Order Now</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_pricing text-center mt-30 active wow fadeInUp" data-wow-duration="1.3s"
            data-wow-delay="0.3s">
            <h4 class="pricing_title">Agency</h4>
            <span class="price">$340</span>
            <ul class="pricing_list">
              <li>Startup Business</li>
              <li>Business Consulting</li>
              <li>Business Analysis</li>
              <li>Corporate Business</li>
              <li>Business Investment</li>
            </ul>
            <a href="#" class="mian-btn">Order Now</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <h4 class="pricing_title">Enterprise</h4>
            <span class="price">$440</span>
            <ul class="pricing_list">
              <li>Startup Business</li>
              <li>Business Consulting</li>
              <li>Business Analysis</li>
              <li>Corporate Business</li>
              <li>Business Investment</li>
            </ul>
            <a href="#" class="mian-btn">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->

<section id="team" class="team_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Teachers</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Rich teaching experience, the
                        strongest team of teachers are in FireFoot English Academy突破英文</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center team_active">
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <img src="assets/images/tam.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Tamzyn Hollis</a></h4>
                        <p>Teacher Tam</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                    <img src="assets/images/kay.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Kaylyn Truter</a></h4>
                        <p>Teacher Kay</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/steph.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Stephanie Smith</a></h4>
                        <p>Teacher Steph</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/sarah.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Sarah Weetman</a></h4>
                        <p>Teacher Sarah</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/shile.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Sihle Dlamini</a></h4>
                        <p>Teacher Sihle</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/mpho.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Mpho Williams</a></h4>
                        <p>Teacher Po</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <img src="assets/images/tarah.jpg" alt="team" style="height: 467px; width: 450px;">
                    <div class="team_content">
                        <h4 class="team_name"><a href="#">Tarah Jullius</a></h4>
                        <p>Teacher Tarah</p>
                        <ul class="social">
                            <!-- <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                  <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover"
    style="background-image: url(assets/images/testimonial.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="glide testimonial_active">
                    <!-- <div class="glide__track" data-glide-el="track">
                        <div class="glide__slides">
                            <div class="glide__slide single_testimonial text-center">
                                <img src="assets/images/lynn.jpg" alt="創始人" style=" height: 120px; width: 120px;">
                                <h5 class="author_name">Lynn Chen</h5>
                                <span>Founder</span>
                                <p>Graduated from the Institute of Network Learning Technology, National Central
                                    University, Taiwan, mainly researching game-based learning, helping students achieve
                                    the most effective learning outcomes through different learning methods</p>

                            </div>
                            <div class="glide__slide single_testimonial text-center">
                                <img src="assets/images/tamzyn.jpg" alt="創始人" style=" height: 120px; width: 120px;">
                                <h5 class="author_name">Tamzyn Hollis</h5>
                                <span>Founder</span>
                                <p>Teacher Tam, who has many years of teaching experience, is committed to building her
                                    own school, teaching the best and most effective learning methods to the teachers in
                                    the team and our students
                                </p>
                            </div>

                        </div>
                    </div> -->

                    <div style="display: flex; flex-direction: column;">
                        <!-- <div class="glide__slides"> -->
                            <div class="glide__slide single_testimonial text-center" style="margin-bottom: 50px;">
                                <img src="assets/images/lynn.jpg" alt="創始人" style=" height: 120px; width: 120px;">
                                <h5 class="author_name">Lynn Chen</h5>
                                <span>Founder</span>
                                <p>Graduated from the Institute of Network Learning Technology, National Central
                                    University, Taiwan, mainly researching game-based learning, helping students achieve
                                    the most effective learning outcomes through different learning methods </p>

                            </div>
                            <div class="glide__slide single_testimonial text-center">
                                <img src="assets/images/tamzyn.jpg" alt="創始人" style=" height: 120px; width: 120px;">
                                <h5 class="author_name">Tamzyn Hollis</h5>
                                <span>Founder</span>
                                <p>Teacher Tam, who has many years of teaching experience, is committed to building her
                                    own school, teaching the best and most effective learning methods to the teachers in
                                    the team and our students
                                </p>
                            </div>

                        <!-- </div> -->
                    </div>
              
                    <!-- <div class="glide__bullets" data-glide-el="controls[nav]">
                        <img id="line" src="assets/images/left-arrow.png" alt="back"
                                 style="width:30px; height:30px; margin: 0 20px" data-glide-dir="=0" >
                       <img id="line" src="assets/images/right-arrow.png" alt="forward"
                                 style="width:30px; height:30px" data-glide-dir="=1">
                     </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section id="recomm" class="blog_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">REAL RECOMMENDATIONS
                        BY PARENTS</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Physical course classroom
                        parents sincerely recommend FireFoot English Academy突破英文</p>
                </div>
            </div>
        </div>
        <div class="videobox">
            <iframe src="https://drive.google.com/file/d/1AaPm12QO0jJ6S31ewC9l8xzUc0CN9_21/preview"
                allow="autoplay"></iframe>
        </div>

        <!-- <div class="row">
        <div class="col-lg-6">
          <div class="single_blog mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <div class="blog_image">
              <img src="assets/images/blog-1.jpg" alt="blog">
            </div>
            <div class="blog_content">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor .</a></h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
                dolore.Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
                dolore magna .Lorem ipsum dolor sit amet, consetetur sadipscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <div class="blog_image">
              <img src="assets/images/blog-2.jpg" alt="blog">
            </div>
            <div class="blog_content media-body">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
              <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
              <a href="#" class="more">Read More</a>
            </div>
          </div>
          <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <div class="blog_image">
              <img src="assets/images/blog-3.jpg" alt="blog">
            </div>
            <div class="blog_content media-body">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
              <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
              <a href="#" class="more">Read More</a>
            </div>
          </div>
          <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <div class="blog_image">
              <img src="assets/images/blog-4.jpg" alt="blog">
            </div>
            <div class="blog_content media-body">
              <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
              <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
              <a href="#" class="more">Read More</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
</section>

<!-- <section id="demo" class="contact_area bg_cover pt-120 pb-130"
  style="background-image: url(assets/images/contact_bg.jpg)"> -->
<section id="demo" class="blog_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Demo</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Online course teaching
                        demonstration video</p>
                </div>
            </div>
        </div>
        <div class="videobox">
            <iframe src="https://drive.google.com/file/d/1CJKbZYCkz_3GKEdT4cIbO89dONe5WFmV/preview"
                allow="autoplay"></iframe>
        </div>


    </div>
</section>




<section id="contact" class="contact_area bg_cover pt-120 pb-130"
    style="background-image: url(assets/images/contact_bg.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title section_title_2 text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Contact Us</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Leave your contact
                        information and someone will contact you or send a private message to the Facebook page/Line
                        official account</p>
                </div>
            </div>
        </div>
        <form id="contact-form" action="assets/contact.php" method="post" class="wow fadeInUp" data-wow-duration="1.3s"
            data-wow-delay="0.4s">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="text" placeholder="Name" name="name" id="name" [(ngModel)]="name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="email" placeholder="Email" name="email" id="email" [(ngModel)]="email">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="text" placeholder="Phone Number" name="number" id="number" [(ngModel)]="number">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_form">
                        <input type="text" placeholder="convenient contact time" name="subject" id="subject" [(ngModel)]="time">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_form">
                        <textarea placeholder="Message" name="message" id="message" [(ngModel)]="message"></textarea>
                    </div>
                </div>
                <p class="form-message"></p>
                <div class="col-lg-12">
                    <div class="single_form text-center">
                        <button class="main-btn" type="submit" (click)="send()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<footer id="footer" class="footer_area">
    <div class="container">
        <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
            <img id="logo" src="assets/images/logo.png" alt="Logo" style="width: 192px; height: 128px;">
            <div style="display: flex; flex-direction: column;">
                <p class="credit">Address：No. 8, Ln. 82, Zhishan Rd., Xitun Dist., Taichung City 407 , Taiwan</p>
                <p class="credit">Phone Number：0934182469</p>
                <p class="credit">FireFoot English Academy 突破英文</p>
            </div>

            <div class="footer_social pt-15">
                <ul>
                    <li><a href="https://www.facebook.com/FireFootEnglish">
                            <img id="logo" src="assets/images/facebook.png" alt="facebook"
                                style="width:30px; height:30px"></a>
                    </li>
                    <li><a href="https://www.instagram.com/firefooteng/"><img id="instagram"
                                src="assets/images/instagram.png" alt="instagram" style="width:30px; height:30px"></a>
                    </li>
                    <li><a href="https://lin.ee/Yg6qu3W"><img id="line" src="assets/images/line.png" alt="line"
                                style="width:30px; height:30px"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<a href="/main-en#home" class="back-to-top"><i class="lni lni-chevron-up"></i></a>